<div class="menu">
	<div class="logo">ProdutoWeb</div>
	<button type="button" ng-click="novo()">Novo</button>	
</div>
<h2>Listagem</h2>

<table>
	<tr>
		<td></td>
		<td>Código</td>
		<td>Descrição</td>
		<td>Preço</td>
	</tr>

	<tr ng-repeat="item in listagem">
		<td>
			<img src="images/edit.png" ng-click="editar(item)">
			<img src="images/search.png">
			<img src="images/rubbish-bin.png" ng-click ="deletar(item.codigo)">
		</td>
		<td>{{item.codigo}}</td>
		<td>{{item.descricao}}</td>
		<td>{{item.preco}}</td>
	</tr>
</table>
